@model List<Bloggie.Web.Models.Domain.BlogPost>

@{
	ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
	<div class="row aline-items-center g-5 py-5">
		<!-- HERO LEFT SIDE -->
		<div class="col-12 col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">
				Discover Fullstack Projects on Bloggie
			</h1>
			<p class="lead">
				Explore a collection of fullstack projects developed using
				React, Next.js, Angular, Vue.js, .NET, C#, Python, and more.
				Get inspired and stay updated with the latest trends in web development.
			</p>
		</div>

		<!-- HERO RIGHT SIDE -->
		<div class="col-12 col-lg-6">
			<img src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				 alt="Bloggie-Hero"
				 class="d-block mx-lg-auto img-fluid w-300" />
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			@if (Model != null && Model.Any())
			{
				foreach (var blogPost in Model)
				{
					<div class="mb-5 bg-light box-shadow p-2">
						<img src="@blogPost.FeaturedImageUrl" alt="FeaturedImageUrl"
							 class="mb-2 d-block img-fluid" />
						<h2 class="mb-4">
							@blogPost.Heading
						</h2>
						<p class="mb-2">
							Author: @blogPost.Author
							<br/>
							Published Date: @blogPost.PublishedDate.ToShortDateString()
						</p>
						<p class="mb-4">
							@foreach (var tag in blogPost.Tags)
							{
								<span class="badge bg-secondary me-1">@tag.Name</span>
							}
						</p>
						<p class="mb-4">
							@blogPost.ShortDescription
						</p>
						<a class="btn btn-dark" herf="#">Read More</a>
					</div>
				}
			}
		</div>
	</div>
</div>